
/*Comienzo de la pagina*/

/* margenes de documento*/
*{
  margin: 0;
  padding: 0;
}

/*fondo de la pagina*/
#Fondo{
  margin: 0;
  padding: 0;
  width: 1349px; /*Ancho*/
  height: 868px;/*Alto*/
  display: flex;
  flex-direction: column;
  align-items: center;/*Alinea en eje y */
  justify-content: flex-start;/*Alinea en eje x */
  
  }

  /*banner superior color cafe*/
   .Desing{
    top: 0;
    left: 0;
 display: flex;
    align-items: flex-start;
  width: 1349px;/*Ancho*/
  height: 80px;/*Alto*/
  margin: 0px;
  padding: 0px;
  background-image: url("Imagenes y videos/Banner_3Desing.png");
  background-size: 1349px 80px;
  background-repeat: no-repeat;
  }

  /*distribucion del logo banner*/
  .logo_cab{
    margin: 5px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70px;
    height: 70px;
  }
  
   /*tamaño del logo banner*/
  .logoc{
    
    width: 70px;
    height: 70px;
  }

  /*Barra de navegacion*/
  .bar{
  width: 100px;
  height: 60px;
  }

  /*Espacio entre cada enlace*/
  .menu{
    margin-top: 10px;
    width: 1349px;
    height: 60px;

  }

  /*lista de navegacion 1*/
  ul{

    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  /*enlaces de navegacion*/
  li a{
  float: left;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: Rashkey, arial;
}

/*efectos de enlace de navegacion*/
li a:hover{
    color: #efb810;
    transition: ease-in;
}

/*Final de la barra de navegacion de pagina*/

  /*contenido de pagina*/

  /* titulo de la galeria de las imagenes*/
   p{
    text-align: center;
    font-size: 35px;
    font-family: Rashkey, arial;
    margin-top: 60px;
   }

   /*efecto de transicion del titulo de la galeria de las imagenes*/
   p:hover{
    color: #efb810;
    transition: ease-in;
   }


/*contenedor principal de las imagenes de la galeria*/
.imagen{
  margin: 10px;
   margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 550px;
  height: 450px;
  background-color:#F6F6F6;
  border: 1px solid #0a0a0a;
  }
  

  /*Imagenes de la galeria*/
 .anc1{

  width: 100px;
  height: 100px;

 }

 .dr1{

  width: 100px;
  height: 100px;

 }

 .pj1{


  width: 100px;
  height: 100px;

 }

 .chad1{


  width: 100px;
  height: 100px;

 }

  .cl1{
  
  width: 100px;
  height: 100px;
  padding: 2px;
  }

  .gor1{
  
  width: 80px;
  height: 100px;
 
  }

  .mn1{
  width: 100px;
  height: 100px;
  }

  .ang1{
  width: 70px;
  height: 100px;
  }

  .gor2{
  width: 100px;
  height: 70px;
  }

  .design1{
    width: 100px;
  height: 100px;
  }

  .tarjeta{
    width: 75px;
  height: 100px;
  }

  .drag_rock{
    width: 95px;
  height: 100px;
  }

  /*Distribucion de las imagenes*/
  .img{

  width: 110px;
  height: 80px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  }

  /*Efecto de seccion de imagenes*/
  .caja-luz{
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(0,0,0,.5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
  }
  
  /*Efecto de seleccion para cada imagen*/
   .caja-luz img{
    margin: 5px;
    width: 80vw;
    height: 70vh;
    padding: 5px;
   }
   .caja-luz .anc1{
    width: 550px;
    height: 550px;
   }
   .caja-luz .dr1{
    width: 550px;
    height: 550px;
   }
   .caja-luz .pj1{
    width: 550px;
    height: 550px;
   }
   .caja-luz .chad1{
    width: 550px;
    height: 550px;
   }
   .caja-luz .cl1{
    width: 425px;
    height: 550px;
   }
   .caja-luz .gor1{
    width: 420px;
    height: 550px;
   }
   .caja-luz .mn1{
    width: 550px;
    height: 550px;
   }
   .caja-luz .ang1{
    width: 400px;
    height: 550px;
   }
   .caja-luz .gor2{
    width: 760px;
    height: 520px;
   }
   .caja-luz .design1{
    width: 650px;
    height: 550px;
   }
    .caja-luz .tarjeta{
    width: 440px;
    height: 621px;
   }
    .caja-luz .drag_rock{
    width: 544px;
    height: 595px;
   }

   /*visualizar las imagenes individualmente*/
   .caja-luz:target{
    transform: scale(1);
   }
  
  /*efecto de transicion al contenedor principal*/
   .imagen:hover{
    transform: scale(1.3);
   }


  /*boton cerrar*/
   .cerrar{

    display: block;
    position: absolute;
    top: 40px;
    right: 50px;
    background-color: #851919;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    }

    /*boton siguiente*/
    .next{
    display: block;
    background-color: #851919;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    }


  /*Comienzo del pie de pagina*/


  /*pie de pagina fondo imagen*/
  .pie{
    
    display: flex;
    align-items: center;
    width: 1349px;
    height: 196px;
    border-radius: 5px;
    background-image: url("Imagenes y videos/azul_ocuro.jpg");
    background-size: 1349px 500px;
    background-repeat: no-repeat;
  }


  /* espacio del logo pie de pagina*/
  .fondo_pie{
    display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 650px;
  height: 196px;
  }


/* imagen del logo pie de pagina*/
  .fondo_pie {
    display: flex;
  align-items: center;
  justify-content: center;
    flex-basis: 50%;
  min-width: 250px;
  
  }

  /* alinear la imagen logo pie de pagina*/
  .logo_pie{
    margin: 5px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 200px;
  height: 180px;
    
  }

  /* temaño del logo pie de pagina*/
  .logo {
    width: 200px;
  height: 175px;
  }

  /* logo de whatsapp*/
  .fwht{
    display: flex;
    width: 40px;
    height: 40px;
    align-self: center;
    padding: 5px;
  }


  /*logo de email correo electronico*/
  .femail{
    display: flex;
    width: 40px;
    height: 40px;
    align-self: center;
    padding: 5px;
    margin: 15px;
  }

  /* tamaño de texto pie de pagina*/
  .pie h2{
    line-height: 35px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   color: white;
  }

  /* distribucion del texto pie de pagina*/
  .info{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
  }