/* margenes de documento*/
*{
  margin: 0;
  padding: 0;
}

/*fondo de la pagina*/
#Fondo{
  margin: 0;
  padding: 0;
  width: 1349px; /*Ancho*/
  height: 949px;/*Alto*/
  display: flex;
  flex-direction: column;
  align-items: center;/*Alinea en eje y */
  justify-content: flex-start;/*Alinea en eje x */
  
  }

  /*banner superior color cafe*/
   .Desing{
    top: 0;
    left: 0;
 display: flex;
    align-items: flex-start;
  width: 1349px;/*Ancho*/
  height: 80px;/*Alto*/
  margin: 0px;
  padding: 0px;
  background-image: url("Imagenes y videos/Banner_3Desing.png");
  background-size: 1349px 80px;
  background-repeat: no-repeat;
  }

  /*distribucion del logo banner*/
  .logo_cab{
    margin: 5px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70px;
    height: 70px;
  }
  
   /*tamaño del logo banner*/
  .logoc{
    
    width: 70px;
    height: 70px;
  }

  /*Barra de navegacion*/
  .bar{
  width: 100px;
  height: 60px;
  }

  /*Espacio entre cada enlace*/
  .menu{
    margin-top: 10px;
    width: 1349px;
    height: 60px;

  }

  /*lista de navegacion 1*/
  ul{

    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  /*enlaces de navegacion*/
  li a{
  float: left;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: Rashkey, arial;
}

/*efectos de enlace de navegacion*/
li a:hover{
    color: #efb810;
    transition: ease-in;
}

/*Final de la barra de navegacion de pagina*/

/*titulo proceso de diseño*/
p{
  text-align: center;
  font-size: 35px;
  font-family: Rashkey, arial;
  margin-top: 60px;
 }

 /*efecto transicion titulo proceso de diseño*/
 p:hover{
  color: #efb810;
  transition: ease-in;
 }

/*contenedor principal de los videos*/ 
.imagen{
  margin: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 700px;
	height: 500px;
  border-radius: 5px;
	}

  /*Distribucion de fila*/
	.fila{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
    
	}
  /*Distribucion de columna*/
	.colu{
		flex-basis: 50%;
		min-width: 250px;
		
	}
  
  /*presentacion punto PIC*/
	.figura-img{
		width: 80%;
		margin: auto;
		position: relative;
		border-radius: 6px;
		overflow: hidden;
	}
  /*Tamaño de los videos en la fila*/
	.peq-img-fila{
		display: flex;
		background:#efefef;
		margin: 20px 0;
		align-items: center;
    justify-content: center;
		border-radius: 6px;
		overflow: hidden;
    width:20px; 
    height:100px;
    width: 85%
	}

  /*orientacion de boton play en los video de fila*/
	.peq-img{
		position: relative;
	}

  /*tamaño del icono del video en la fila*/
	.peq-img img{
		width: 150px;
	}

  /*texto explicativo de los video en fila*/
	.peq-img-fila p{
    display: flex;
    justify-content: center;
    align-items: center;
		margin-left: 20px;
		color: #707070;
		line-height: 20px;
		font-size: 18px;
    margin-bottom: 5px;
	}
  
  /*boton play del video dela presentacion*/
	.play-btn1{
		width: 60px;
		height: 60px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		cursor: pointer;
	}
  /* Alineacion de btn play de la fila*/
	.play-btn{
		width: 60px;
		height: 60px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		cursor: pointer;
	}

  /* tamaño del btn dentro del icono de la fila*/
	.peq-img .play-btn{
		width: 20px;
		height: 20px;
	}

  /* auto play del video*/
	.video-player{
		width: 50%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		display: none;
	}
  
  /*video*/
	video:focus{
		outline: none;
	}

  /*boton cerrar*/
	.cerrar{
   	position: absolute;
   	top: 10px;
   	right: 10px;
   	color:#851919;
   	text-decoration: none;
   	width: 30px;
   	height: 40px;
  	}

    /*tamaño de las imagenes dentro de los cuadros grises*/
  .imagen img{
  
  width: 100%;
  height: 100%; /*Proporcion de imagenes*/
  }
  
/*Comienzo del pie de pagina*/

  
  /*pie de pagina fondo imagen*/
  .pie{
    
    display: flex;
    align-items: center;
    width: 1349px;
    height: 196px;
    border-radius: 5px;
    background-image: url("Imagenes y videos/azul_ocuro.jpg");
    background-size: 1349px 500px;
    background-repeat: no-repeat;
  }


  /* espacio del logo pie de pagina*/
  .fondo_pie{
    display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 650px;
  height: 196px;
  }


/* imagen del logo pie de pagina*/
  .fondo_pie {
    display: flex;
  align-items: center;
  justify-content: center;
    flex-basis: 50%;
  min-width: 250px;
  
  }

  /* alinear la imagen logo pie de pagina*/
  .logo_pie{
    margin: 5px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 200px;
  height: 180px;
    
  }

  /* temaño del logo pie de pagina*/
  .logo {
    width: 200px;
  height: 175px;
  }

  /* logo de whatsapp*/
  .fwht{
    display: flex;
    width: 40px;
    height: 40px;
    align-self: center;
    padding: 5px;
  }


  /*logo de email correo electronico*/
  .femail{
    display: flex;
    width: 40px;
    height: 40px;
    align-self: center;
    padding: 5px;
    margin: 15px;
  }

  /* tamaño de texto pie de pagina*/
  .pie h2{
    line-height: 35px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   color: white;
  }

  /* distribucion del texto pie de pagina*/
  .info{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
  }
